:root {
  --container-width: 1280px;
  --container-padding-x: 80px;


  --color-blue: #0069B4;
  --color-blue-hover: #00487B;
  --color-white: #FFFFFF;
  --color-white-hover: #F0F0F0;
  --color-black: #000000;
  --color-gray: #797B86;
  --color-light-gray: #AEB0B6;
}